.menu-nav{
  text-align: center;
  margin-top: 2rem;
}

.menu-nav ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
  gap: 50px; /* espaço entre os links */
}

.menu-nav li a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  transition: color 0.3s;
}
.menu-nav li a:hover {
  color: #FF69B4;
}

