<div class="container">
  <div class="projeto-1 projeto">
    <h2>Conversor de Moedas</h2>
    <div class="img-container">
      <img src="/conversorMoeda.png" alt="Imagem do projeto Conversor de Moedas">
    </div>
    <button class="botao">Ver Projeto</button>
  </div>

  <div class="projeto-2 projeto">
    <h2>Memoteca </h2>
    <div class="img-container">
      <img src="/memoteca.png" alt="Imagem do projeto Memoteca">
       </div>
       <button class="botao">Ver Projeto</button>
  </div>

  <div class="projeto-3 projeto">
    <h2>Joken Po</h2>
    <div class="img-container">
      <img src="/jokenpo.png" alt="Imagem do projeto Joken Po">
    </div>
      <button class="botao">Ver Projeto</button>
  </div>

  <div class="projeto-4 projeto">
    <h2>Projeto 4</h2>
    <div class="img-container">
      <img src="/projeto4.png" alt="Imagem do projeto 4">
    </div>
    <button class="botao">Ver Projeto</button> 
  </div> 
  
</div>
